[Unit]
Description=Update a cloudflare DNS A record to this host's public IP address
After=network-online.target

[Service]
ExecStart=/usr/bin/cfddns

[Install]
WantedBy=multi-user.target
